body{
    font-family: Georgia, "Times New Roman", serif;
    padding: 10pt;
    margin-left:50px;
    margin-right:30px;
    font-size:12pt;
}
.enonce:before{
    content:"Q:";
    font-weight: bold;
    color:red;
    display: block;
    /* background: url("process_pink_3964305.png") no-repeat; */
    float: left;
    margin: 0 6px 0 0;
}

.enonce{
    font-style: italic;
}

.red{
    color:darkred;
}
.blue{
    color:lightblue;
    font-weight: bold;
}
.green{
    color:yellowgreen;
}
.nimp{
    font-weight: orange;
    text-decoration: yellowgreen;
}

div.resultat{
    display:flex;
    position:relative;
    border-style: outset;
    border-color: white;
    box-sizing:border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
    padding:20px;
    background-color: lightgrey;
}
.resultat p{
    display:unset;
    /* background-color: grey; */
    padding-left: 5px;
    color:blue;
}

blockquote
{
    font-style: italic;
    margin-left: 32px;
    background : #f8f8f8;
    overflow : auto;
    width : auto;
    border : solid gray;
    border-width : .1e m .1e m .1e m .8e m;
    padding : .2e m .6e m;
    color:black;
}


/* Exo 1 */
#exo1 button {
    display: block;
    margin: 20px 0 0 0;
}
#exo1 textarea {
    width: 200px;
    height: 60px;
    margin: 10px;
    float: left;
    font‐size: 18px;
}
#exo1 p {
    clear: left;
    font‐weight: bold;
    font‐size: 18px;
    color:
    green;
    margin: 5px 10px 0 10px;
    padding: 2px;
}

.w3r_font_color{
    color: red;
}

.w3r_background {
    background: yellow;
}
